body {
  background-color: rgba(50, 50, 50, .4);
}

header {
  height: 44px;
  background-color: rgb(50, 50, 50);
}

footer {
  text-align: center;
  font-size: 14px;
}

header section {
  width: 500px;
  margin: 0 auto;
}

section {
  width: 500px;
  margin: 10px auto;
}