/* 重置样式 */

/* 常用元素的内外边距 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h5, h6, form, a, p, textarea {
  margin: 0;
  padding: 0;
}

/* 列表样式 */
ul, ol, li {
  list-style: none;
}

/* 超链接 */
a {
  text-decoration: none;
  color: white;
}

/* 图片 */
img {
  border: none;
}

/* 清除浮动 */
.clearfloat::after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}

/* 轮廓线 */

input {
  outline: none;
}