@font-face {
  font-family: "iconfont"; /* Project id 2963067 */
  src: url('iconfont.woff2?t=1637747577175') format('woff2'),
       url('iconfont.woff?t=1637747577175') format('woff'),
       url('iconfont.ttf?t=1637747577175') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ic-todo-list:before {
  content: "\e7a2";
}

